<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-align-items-center ion-justify-content-center" >
    <ion-col offset="2" size="5" size-sm="4" size-md="2" offset-sm="2" offset-md="4">row1 col1</ion-col>
    <ion-col size="1" size="4" size-sm="4" size-md="2">
      <ion-card>
        <ion-card-content >
          <h1>Row</h1>
          <p>coloumn</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
